$bgColor: #111;
$fgColor: #ccc;

#rs-common-nav {
  @include clearfix();
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  margin: 0;
  background-color: $bgColor;
  color: $fgColor;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  h1 {
    float: left;
    font-size: 0;
    a {
      display: inline-block;
      padding: 10px;
      img {
        height: 28px;
      }
    }
  }

  a {
    color: $fgColor;
    text-decoration: none;
    border-top: 2px solid $bgColor;
    @include transition(background-color 0.1s linear);
    &:hover, &:active {
      background-color: #333;
      border-top-color: #FF4B03;
    }
  }

  nav {
    &.primary {
      float: left;
    }
    &.secondary {
      float: right;
    }
    * {
      display: inline-block;
    }
    @include media($mobile) {
      &.primary, &.secondary {
        clear: both;
        float: none;
        display: block;
      }
      &.secondary {
        display: none;
      }
      * {
        display: block;
      }
    }

    ul {
      @include media($mobile) {
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s linear;
      }
      li {
        @include media($mobile) {
          visibility: hidden;
          transition: visibility .25s linear;
        }
        a {
          padding-left: 10px;
          padding-right: 10px;
          line-height: 48px;
          border-bottom: 2px solid $bgColor;
          @include media($mobile) {
            border-bottom: 1px solid #333;
            text-align: center;
            &:hover, &:active {
              padding-left: 0.5rem;
              border-left: 2px solid #FF4B03;
              border-top-color: #333;
            }
          }
        }
        @include media($mobile) {
          &:first-of-type {
            a {
              border-top: 1px solid #333;
            }
          }
        }
      }
    }

    &.open {
      ul {
        max-height: 800px;
      }
      li {
        visibility: visible;
      }
    }
  }
}

//
// Mobile nav burger-icon button
//

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $fgColor;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $fgColor;
  content: "";
  top: $top;
}

.mobile-nav-button {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 24px;
  height: 24px;
  transition-duration: 0.5s;
  @include media($mobile) {
    display: inline-block;
  }

  .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 2px;
    width: 24px;
    top: 12px;
    background-color: $fgColor;

    &:before{
      @include icon-before(2px, 24px, -8px);
    }

    &:after{
      @include icon-after(2px, 24px, 8px);
    }
  }

  // &.open {
  //   .icon {
  //     transition-duration: 0.5s;
  //     background: transparent;
  //
  //     &:before{
  //       transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
  //     }
  //
  //     &:after{
  //       transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
  //     }
  //   }
  // }

  &:hover {
    cursor: pointer;
  }
}
