@import "neat/neat-helpers";

// $column: 90px;
// $gutter: 30px;

$grid-columns: 12;

$visual-grid: true;
$visual-grid-color: #E6F6FF;
$visual-grid-opacity: 0.4;

$mobile: new-breakpoint(max-width 768px 4);
