@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

* {
  margin: 0;
  padding: 0;
}
body, html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

#rs-common-nav {
  @include clearfix();
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  margin: 0;
  background-color: #111;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  h1 {
    float: left;
    font-size: 0;
    a {
      display: inline-block;
      padding: 10px;
      img {
        height: 28px;
      }
    }
  }
  a {
    color: #ccc;
    text-decoration: none;
    border-top: 2px solid #111;
    @include transition(background-color 0.1s linear);
    &:hover {
      background-color: #333;
      border-top-color: #FF4B03;
    }
  }
  nav {
    &.primary {
      float: left;
    }
    &.secondary {
      float: right;
    }
    * {
      display: inline-block;
    }
    ul {
      li {
        a {
          padding-left: 10px;
          padding-right: 10px;
          line-height: 48px;
          border-bottom: 2px solid #111;
        }
      }
    }
  }
}

main {
  padding: 2em 2em 10em 2em;
  @include media($mobile) {
    padding: 1em;
  }
}

.line-container {
  overflow: hidden;
  @include background-image( linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,0) 49%, #ddd 50%, #ddd 52%, rgba(255,0,0,0) 52%, rgba(255,0,0,0)) );
  text-align: center;
  margin-bottom: 2rem;
  h3 {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0.75rem;
    font-size: 20px;
    font-weight: bold;
    line-height: golden-ratio(1em, 1);
    background-color: #fff;
  }
}

section {
  p {
    font-weight: 300;
    line-height: 1.5em;
  }
}

section#hero {
  @include outer-container;
  // height: 200px;
  // background-color: $visual-grid-color;
  margin-top: 2em;
  margin-bottom: 4rem;
  .head {
    @include span-columns(12);
    text-align: center;
    img {
      width: 96px;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    p.claim {
      font-weight: normal;
    }
  }
}

section#benefits {
  @include outer-container;
  margin-bottom: 2rem;
  article {
    @include span-columns(6);
    @include omega(2n);
    @include media($mobile) {
      @include span-columns(4);
    }
    margin-bottom: 2em;
    h3 {
      margin-bottom: 14px;
      color: #03B7FF;
      font-weight: 300;
    }
  }
}

section#explainer {
  @include outer-container;
  margin-bottom: 4rem;
  .head {
    @include span-columns(12);
    text-align: left;
    p {
      margin-bottom: 3rem;
      a {
        color: #111;
        &:hover, &:active {
          color: #888;
        }
      }
    }
  }
  .item {
    @include span-columns(4);
    text-align: center;
    padding: 0 20px;
    @include media($mobile) {
      @include span-columns(4);
      padding: 0;
    }
    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 2rem;
      a {
        color: #111;
        &:hover, &:active {
          color: #888;
        }
      }
    }
    img {
      width: 90%;
      margin-bottom: 1.5rem;
      @include media($mobile) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    figcaption {
      font-size: 1rem;
      font-style: italic;
      color: #888;
      @include media($mobile) {
        margin-bottom: 2rem;
      }
    }
  }
}
